@model dynamic

@{
    ViewBag.Title = "Ready";
}

<h2>Ready!</h2>
@Html.ActionLink("Show me the F1 people", "Index", "F1People");
@Html.ActionLink("Show me the PCO people", "Index", "PCOPeople");