@model dynamic

@{
    ViewBag.Title = "Ready";
}

<h2>Ready!</h2>
@Html.ActionLink("Search for F1 People", "SearchByName", "F1People")
@Html.ActionLink("Search for PCO People", "SearchByName", "PCOPeople")
