@model dynamic

@section ScriptSection
{
    @MvcHtmlString.Create(SquishIt.Framework.Bundle.JavaScript()
        .Add("~/Scripts/Search.js")
        .Render("~/cachedassets/search_#.js")))
}
<form class="well form-search" data-bind="submit: startSearch">
    <input type="text" class="input-medium search-query" data-bind="value: searchTerm, valueUpdate: 'afterkeydown'" placeholder="The person's first or last name..." />
    <button id="searchButton" type="submit" class="btn" data-bind="text: isSearchInProgress() == true ? 'Searching...' : 'Search', enable: isSearchAllowed">Search</button>
</form>

<div class="row" style="display: none" data-bind="visible: hasSearched()">
    <div class="span6">
        <h3>Fellowship One</h3>
        <div class="progress progress-striped active" data-bind="visible: isSearchInProgress() == true">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <div class="alert" data-bind="visible: f1People().length == 0 && isF1SearchInProgress() == false">
            <strong>No results</strong> No results matched <b data-bind="text: searchTerm"></b>
        </div>
        <table class="table table-striped table-bordered" data-bind="visible: f1People().length > 0">
            <thead>
                <tr>
                    <th>F1ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'f1person-template', foreach: f1People }">
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3>Planning Center Online</h3>
        <div class="progress progress-striped active" data-bind="visible: isPCOSearchInProgress() == true">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <div class="alert" data-bind="visible: f1People().length == 0 && isSearchInProgress() == false">
            <strong>No results</strong> No results matched <b data-bind="text: searchTerm"></b>
        </div>
        <table class="table table-striped table-bordered" data-bind="visible: pcoPeople().length > 0">
            <thead>
                <tr>
                    <th>PCOID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'pcoperson-template', foreach: pcoPeople }">
            </tbody>
        </table>
    </div>
</div>

<script type="text/html" id="f1person-template">
    <tr>
        <td data-bind="text: f1id"></td>
        <td data-bind="text: firstName"></td>
        <td data-bind="text: lastName"></td>
    </tr>
</script>

<script type="text/html" id="pcoperson-template">
    <tr>
        <td data-bind="text: pcoid"></td>
        <td data-bind="text: firstName"></td>
        <td data-bind="text: lastName"></td>
    </tr>
</script>