@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="hero-unit">
    <h1>
        Oops, something has gone wrong!</h1>
    <p>
        We try really hard to make sure this site always works, but sometimes we make a boo boo.</p>
    <p>
        <a href="javascript:location.reload(true);" class="btn btn-primary btn-large">Try the same thing again</a>
    </p>
</div>
