@model Highway.Identity.Web.Models.Account.MyAccountModel

@{
    ViewBag.Title = "My Account";
}


<div class="row">
    <div class="span4">
        <img src="http://placehold.it/260x180" alt="">
    </div>
    <div class="span8">
        @using (Html.BeginForm("Save"))
        {
            @Html.ValidationSummary(true, "Bad boy")
            <fieldset>
                <legend>Change your profile</legend>
                <div class="control-group">
                    <label class="control-label" for="focusedInput">First name</label>
                    <div class="controls">
                        <input class="input-xlarge" id="firstname" type="text" value="">
                        <span class="help-inline">That's right, your first name</span>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.FirstName, "First name")
                    <div class="controls">
                        @Html.TextBoxFor(x => x.FirstName)
                        <span class="help-inline">@Html.ValidationMessageFor(x => x.FirstName)</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
            </fieldset>
        }
    </div>
</div>
